body {
  line-height: 1;
  font-family: "PingFang SC", simSun, "Lucida Grande", "Lucida Sans Unicode",
    Arial;
  color:#333;
}
i {
  font-style: normal;
}

em {
  font-weight: normal;
}
::-moz-placeholder {
  font-size: 0.408889rem;
  color: #4D4D4D;
}

:-ms-input-placeholder {
  font-size: 0.408889rem;
  color: #4D4D4D;
}

::-moz-placeholder {
  font-size: 0.408889rem;
  color: #4D4D4D;
}

::-webkit-input-placeholder {
  font-size: 0.408889rem;
  color: #4D4D4D;
}
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
